{% extends "_base.html" %}

<!-- create a block called "content" -->
{% block content %}
    <h1>Home</h1>
    <form action="/trainer" method="POST" >
      <!-- label for="data">Data</label>  -->
      <label for="data">Data</label>
      <input type="text" name="data" placeholder="data.csv">
      <label for="features">Features</label>
      <input type="text" name="features">
      <label for="target">Target</label>
      <input type="text" name="target">
      <input type="submit" value="Submit">
    </form>
    
{% endblock %}


