{% extends "_base.html" %}

{% block content %}
    <h1>Home</h1>
    <form hx-post="/trainer" >
      <div hx-target="this" hx-swap="outerHTML">
        <label>Data</label>
        <input  name="data" placeholder="data.csv" hx-post="/trainer/data" hx-indicator="#ind">
        <img id="ind" src="/img/bars.svg" class="htmx-indicator"/>
      </div>
      <div>
        <label>Features</label>
        <input type="text" name="features">
      </div>
      <div>
        <label> Target</label>
        <input type="text" name="target">
      </div>
      <button>Siubmit</button>
    </form>
{% endblock %}

